* {
    font-family: 'Roboto', sans-serif;
    border-radius: 0 !important;
}

p {
    font-size: 1.2rem;
    color: #f4f4f4 !important;
}
li {
    color: #f4f4f4 !important;
}

#logo
{
    width: auto;
    height: auto;
    margin: auto;
    margin-right: 0;
    display: block;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 767px) {
    #logo
    {
        display: none;
    }

    
}