{% extends '_layout.html' %}

{% block title %}Grant Proposal{% endblock %}

{% block content %}

<div class="pt-4"></div>

<div class="project-title container pb-2" id="project">
    <h3 class="m-0">Project Title</h3>
    <p>
        Deus Ex Securitas
    </p>
</div>

<div class="project-summary container pb-2">
    <h3 class="m-0">Project Summary</h3>
    <p>
        An AI auditing system, accessible to anyone, lighting fast, and scalable for the future
    </p>
</div>

<div class="problem container pb-2" id="problem">
    <h3 class="m-0">Problem & Status Quo</h3>
    <p>
        Smart contract vulnerabilities are a problem that has costed the blockchain industry over $3B, a number that will only grow as the industry expands. It’s hard to defend against exploits and the only solution we currently have is manually audit smart contracts. The role that security audits play is to make sure that contracts don’t contain any technical vulnerabilities and to provide specialized consultation. However, manual security audits come with a set of problems:
    </p>

    <ul>
        <li>
            Cost: Auditing services cost $50k - $150k+ gate-keeping those who don’t have sufficient capital
        </li>
        <li>
            Time: Smart contract audits take weeks or months to complete, slowing iteration and release cycles
        </li>
        <li>
            Inability to scale: Auditing services can’t increase their throughput without sacrificing quality or hiring more auditors
        </li>
        <li>
            Human Errors: Despite their skills, exploits can still fall through the cracks of the best of auditors
        </li>
    </ul>

    <p>
        What’s the root cause behind all these issues? It’s that auditors have a limited amount of time and they’re wasting a huge portion of that time trying to fix the technical issues in their clients’ code. Time that could have otherwise been spent doing their job and providing a consultation.
    </p>
</div>

<div class="solution container pb-2" id="solution">
    <h3 class="m-0">Our Solution</h3>

    <p>
        So let’s introduce artificial intelligence into the loop. Let’s create a model capable of detecting exploits and solving the technical issues normally found by humans. This means it can become a powerful tool in an auditor’s belt that helps solve each of the problems outlined above. 
    </p>

    <ul>
        <li>
            Cost: You can run the model on your computer for <b>free</b>
        </li>
        <li>
            Time: It takes <b>seconds</b> to run the model
        </li>
        <li>
            Scalability: Software can be upgraded instantly, and duplicated infinitely
        </li>
        <li>
            Generalization: Machines are capable of learning from all known exploits and can extrapolate to find novel exploits outside of their training set
        </li>
    </ul>

    <p>
        We plan on integrating this product into manual auditing firms. ML will deal with the technical problems and auditors will be freed to provide specialized consultation. This helps auditing firms in the following areas:
    </p>

    <ul>
        <li>
            Time: Auditors don’t have to deal with fixing the code thus speeding things up
        </li>
        <li>
            Throughput: A byproduct of speed is increased throughput, thus scalability
        </li>
        <li>
            Cost: A byproduct of speed is ability to decrease the cost per audit - offering more competitive and affordable rates
        </li>
        <li>
            Service: Auditors are freed to do their real job, which is specialized consultation which means more care into the service
        </li>
    </ul>
</div>

<div class="vision container pb-2" id="vision">
    <h3 class="mb-0">Our Vision</h3>

    <p>
        We envision a future where Deus Ex Securitas becomes integrated into developer and auditing workflows. For developers, we’re here to be a fast, accessible, accurate, and scalable tool to make all of crypto safer from exploits. For auditing firms we will be the tool to handle all the technical issues allowing them to provide specialized consultation. We hope to become a base security layer for all of crypto - to create a future where exploits cease to exist.
    </p>
</div>

<div class="technical-overview container pb-2" id="technical-overview">
    <h3 class="">Technical Roadmap</h3>

    <h5 class="m-0">
        Version 1 - Proof of Intelligence
    </h5>
    <p>
        <i>
            Capable of detecting any smart contracts that contain the re-entry vulnerability
        </i>

        <p class="m-0">
            Technical Requirements
        </p>
        <ul>
            <li>
                Larger dataset
            </li>
            <li>
                Better-trained model
            </li>
            <li>
                Improved tests & validation
            </li>
            <li>
                Improved server-side architecture
            </li>
        </ul>

        <p class="m-0">
            Non-Technical Requirements
        </p>
        <ul>
            <li>
                Set up an advisory board
            </li>
            <li>
                Speak with auditing firms & end users
            </li>
        </ul>

        <p class="m-0">
            Estimated Time
        </p>
        <ul>
            <li>
                2-4 weeks
            </li>
        </ul>

        <p class="m-0">
            Estimated Resources
        </p>
        <ul>
            <li>
                No extra resources required
            </li>
        </ul>
    </p>

    <h5 class="pt-2 m-0">
        Version 2 - Expansion to Other Exploits
    </h5>
    <p>
        <i>
            Same as V1, but ability to detect N different vulnerabilities (Where N is determined by talking to auditing companies and seeing if they have a checklist)
        </i>

        <p class="m-0">
            Technical Requirements
        </p>
        <ul>
            <li>
                Create a unique dataset for each vulnerability
            </li>
            <li>
                Improve the model architecture to improve generalizability
            </li>
        </ul>

        <p class="m-0">
            Non-Technical Requirements
        </p>
        <ul>
            <li>
                Add a business person to the advisory board and begin creating an alpha product
            </li>
        </ul>

        <p class="m-0">
            Estimated Time
        </p>
        <ul>
            <li>
                3-4 weeks
            </li>
            <li>
                Limiting Factor
                <ul>
                    <li>
                        Gathering a sufficiently large dataset
                    </li>
                    <li>
                        Training our model from scratch with a new architecture & tokenization system
                    </li>
                </ul>
            </li>
        </ul>

        <p class="m-0">
            Estimated Resources
        </p>
        <ul>
            <li>
                ~$10,000 to create dataset bounties to speed up the dataset generation process
            </li>
        </ul>

        <p class="m-0">
            Post V2
        </p>
        <ul>
            <li>
                Turn Version 2 into an alpha product
            </li>
            <li>
                Begin partnering with Hackathons to get people to try out our product
            </li>
            <li>
                Implement vulnerability highlighting into the model
            </li>
            <li>
                Higher a ML engineer to help us with Version 3's technical challenges
            </li>
        </ul>
    </p>
    
    <h5 class="pt-2 m-0">
        Version 3 - Few-Shot & Generalization
    </h5>
    <p>
        <i>
            Ability to recognise an arbitrary number of vulnerabilities without needing to be re-trained based on a small number of examples 
        </i>

        <p class="m-0">
            Technical Requirements
        </p>
        <ul>
            <li>
                Higher ML engineers to help create novel tech to solve our problems
            </li>
            <li>
                Create a much larger, more variable, dataset with a broader scope
            </li>
            <li>
                Powerful hardware will likely become necessary as our model grows in size
            </li>
        </ul>

        <p class="m-0">
            Non-Technical Requirements
        </p>
        <ul>
            <li>
                A greater understanding of security so we can fine-tune the model - we will either need to learn this ourselves or higher an expert
            </li>
        </ul>

        <p class="m-0">
            Estimated Time
        </p>
        <ul>
            <li>
                3-6 months
            </li>
            <li>
                Limiting Factor
                <ul>
                    <li>
                        New technology needs to be developed
                    </li>
                    <li>
                        Training times for models will increase
                    </li>
                    <li>
                        Salaries for employees
                    </li>
                </ul>
            </li>
        </ul>

        <p class="m-0">
            Estimated Resources
        </p>
        <ul>
            <li>
                Cloud servers / Dedicated hardware
            </li>
            <li>
                An employee with a focus on security & machine learning
            </li>
        </ul>

        <p class="m-0">
            Post V3
        </p>
        <ul>
            <li>
                Create version 1.0 of our product
            </li>
            <li>
                Partner with auditing firms and integrate our product into their toolbox
            </li>
        </ul>
    </p>

    <h5 class="pt-2 m-0">
        Version 4 - Superhuman Performance
    </h5>
    <p>
        <i>
           End Game: create models that are capable to detecting exploits that were never seen before. Surpass human performance. 
        </i>

        <p class="m-0">
            Technical Requirements
        </p>
        <ul>
            <li>
                ML will likely be the bottleneck again, so smart engineers will be needed
            </li>
            <li>
                Much larger dataset with a broader scope that includes lots of edge cases & complex vulnerabilities
            </li>
            <li>
                Contextual detecting that can detect application-specific vulnerabilities
            </li>
        </ul>

        <p class="m-0">
            Non-Technical Requirements
        </p>
        <ul>
            <li>
                A larger team to help build the model
            </li>
        </ul>

        <p class="m-0">
            Estimated Time
        </p>
        <ul>
            <li>
                Unknown
            </li>
            <li>
                Limiting Factor
                <ul>
                    <li>
                        To our knowledge this surpasses current ML capabilities - new technology will need to be developed
                    </li>
                    <li>
                        Training costs for very large models
                    </li>
                    <li>
                        Salaries for employees
                    </li>
                </ul>
            </li>
        </ul>

        <p class="m-0">
            Estimated Resources
        </p>
        <ul>
            <li>
                Lots of new hardware / Cloud resources
            </li>
            <li>
                New employees to help with ML breakthroughs
            </li>
        </ul>

        <p class="m-0">
            Post V4
        </p>
        <ul>
            <li>
                Create version 2.0 of our product
            </li>
            <li>
                Broad sweep of existing smart contracts - we would need to notify people if we find problems in their code that could be easily exploited. Then release our systems to everyone
            </li>
        </ul>
    </p>
</div>

<div class="-progress container pb-2" id="progress">
    <h3 class="mb-0">Progress</h3>

    <p>
        The project was initially launched at ETHDenver as a Hackathon project. We’ve had a tremendous amount of positive feedback! We won 3rd place in the community vote and won Vitalik’s choice as his favourite project!
    </p>
</div>



{% endblock %}